<?xml version="1.0" encoding="utf-8"?>
<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">
  <Identity
    Name="Oracle.Platform.LocalCertification"
    Publisher="CN=Oracle Local Test Signing - NOT PRODUCTION"
    Version="{{PACKAGE_VERSION}}"
    ProcessorArchitecture="x64" />
  <Properties>
    <DisplayName>Oracle Local Certification</DisplayName>
    <PublisherDisplayName>Oracle Local Test Signing - NOT PRODUCTION</PublisherDisplayName>
    <Description>Local packaging mechanics certification only. Not production trusted or distributed.</Description>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily
      Name="Windows.Desktop"
      MinVersion="10.0.19041.0"
      MaxVersionTested="10.0.26200.0" />
  </Dependencies>
  <Resources>
    <Resource Language="en-us" />
  </Resources>
  <Applications>
    <Application
      Id="Oracle"
      Executable="Oracle.exe"
      EntryPoint="Windows.FullTrustApplication">
      <uap:VisualElements
        DisplayName="Oracle Local Certification"
        Description="Local packaging mechanics certification only"
        BackgroundColor="#090B10"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png">
        <uap:DefaultTile
          Wide310x150Logo="Assets\Wide310x150Logo.png" />
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>
